/*
0 - 450px       Small Phone
450 - 600px:    Phone
600-900px:      Table portrait
900-1200px:     Table landscape
1200-1800px:    Is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-lanscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 28.125em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 2.3rem;
  font-weight: bold; }

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px; }
  @media (max-width: 56.25em) {
    .container {
      padding: 0 2rem; } }

.container-fluid {
  margin: 0 auto;
  padding: 5rem; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

.u-margin-bottom-lg {
  margin-bottom: 6rem; }

.u-margin-top-sm {
  margin-top: 1rem; }

.u-margin-top-md {
  margin-top: 3rem; }

.u-margin-top-lg {
  margin-top: 6rem; }

.profile-wrapper {
  padding: 5rem 0;
  background-color: #fdfffc; }

.profile-info {
  height: 53rem; }
  .profile-info__backdrop {
    height: 38rem;
    background: green;
    background-image: url(/img/backdrop1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; }
  .profile-info__container {
    display: flex;
    height: 15rem; }
  .profile-info-image {
    width: 20%;
    margin-top: -5rem;
    padding: 0 2rem; }
    .profile-info-image img {
      width: 100%;
      background: aqua;
      border: 1px solid black;
      border-radius: 50%; }
  .profile-info-name {
    width: 50%; }
  .profile-info-editbutton {
    width: 35%; }

.text-name {
  font-size: 3rem; }

.text-place {
  font-size: 2rem; }

.profile-flex {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between; }

.profile-friends {
  width: 28%;
  height: 45rem;
  border-radius: 10px;
  border: 1px solid #2ec4b6; }

.profile-header {
  border-bottom: 1px solid #2ec4b6;
  text-align: center;
  padding: 0.5rem 0; }

.profile-wall {
  width: 40%;
  height: 45rem;
  border-radius: 10px;
  border: 1px solid #2ec4b6; }

.profile-favorite {
  width: 28%;
  height: 45rem;
  border-radius: 10px;
  border: 1px solid #2ec4b6; }
