.admin-page {
  &-wrapper {
    padding: 3rem 0;
    min-height: 100vh;
    background-color: $color-main-background-darker;
  }

  // For the Admin Page Header section
  &-header {
    &__top {
      display: flex;
      flex-wrap: wrap;

      &__left {
        flex: 0 0 50%;
        text-align: left;
      }

      &__right {
        flex: 0 0 50%;
        text-align: right;
      }
    }

    &__bottom {
      padding: 2rem;
      border: 1px solid rgba($color-black, 0.1);
    }
  }

  // For the Table section
  &-table {
    padding: 2rem;
    border: 1px solid rgba($color-black, 0.1);
    text-transform: capitalize;

    // The table <table>
    &-container {
      width: 100%;
      font-size: 1.3rem;
      margin: 1rem 0;

      & tr {
        background: white;
      }

      & td {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 8px solid $color-main-background-darker;
      }
    }
  }
}

.text-admin-page {
  &-totalcourts {
    font-size: 1.3rem;
  }

  &-name {
    color: rgb(150, 136, 61);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
