.courtview {
  &-wrapper {
  }

  // CourtInfo.js
  &-info {
    text-align: center;
    margin-bottom: 2rem;

    &-rating {
      // background: yellow;

      &__stars {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }

      &-text-count {
        display: inline-block;
        font-size: 1.6rem;
      }
    }

    &-text {
      &-name {
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      &-address {
        font-size: 1.7rem;
        text-transform: capitalize;
      }
    }
  }

  // Properties and condition has the same style
  &-properties,
  &-condition {
    text-align: center;
    // background: red;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0;

    &__grid {
      display: flex;
      padding: 1rem;
      // background: yellow;
      justify-content: space-evenly;

      &-box {
        flex: 0 0 16%;
        display: flex;
        // background: pink;
        // height: 80px;
        align-items: center;

        &--icon {
          flex: 0 0 30%;
          // background: green;

          &-image {
            width: 45px;
          }
        }

        &--info {
          flex: 0 0 70%;
          padding-left: 8px;
          // background: red;
          text-align: left;
        }
      }
    }

    &-text {
      &-header {
        font-size: 1.8rem;
        font-weight: 600;
      }

      &-subheader {
        font-size: 1.4rem;
        font-weight: 700;
      }

      &-info {
        font-size: 1.4rem;
        text-transform: capitalize;
      }
    }
  }

  // Flex for review(left) and the right container
  &-flex {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;

    &-left {
      flex: 0 0 65%;
    }

    &-right {
      flex: 0 0 30%;

      &-container {
        border: 1px solid $color-border-3;
        border-radius: 3px;
        min-height: 400px;
        width: 100%;
      }
    }
  }

  // courtview-image
  &-image {
    padding: 1rem;

    &-main {
      width: 60rem;
      margin: 0 auto;

      & img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  // courtview-reviews
  &-reviews {
    // Maybe change this
    font-family: 'Roboto', sans-serif;

    &-header {
      margin-bottom: 2rem;
      &-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    // Just the whole container/wrapper of the all the review box
    &-container {
      padding: 1rem 0;
    }

    // Container box of a review
    &-box {
      padding: 1.5rem 0;
      border-bottom: 1px solid $color-border-3;

      &-flex {
        display: flex;

        &-left {
          flex: 0 0 35%;

          &-flex {
            display: flex;
          }
        }

        &-right {
          flex: 0 0 65%;
        }
      }
    }

    &__image {
      flex: 0 0 25%;

      &__img {
        width: 85%;
        border-radius: 5px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // height: 97%;
      }
    }

    &__info {
      flex: 0 0 75%;
    }

    &__rating {
      display: flex;
      align-items: center;

      &__stars {
      }

      &__date {
        margin-left: 0.7rem;
      }
    }

    &-text {
      &-name {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
        color: $color-review-name;
      }

      &-location {
        font-size: 1.2rem;
        font-weight: bold;

        text-transform: capitalize;
        line-height: 1;
      }

      &-content {
        font-size: 1.4rem;
      }

      &-date {
        font-size: 1.4rem;
      }
    }
  }

  // CourtLocation.js
  &-location {
    border-bottom: 1px solid $color-border-3;

    &-map {
      height: 200px;
      background: pink;
    }

    &-address {
      display: flex;
      padding: 1.5rem;
      justify-content: space-between;
      align-items: center;

      &-left {
        flex: 0 0 60%;
      }

      &-right {
        //
      }
    }

    &-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
