.courtview {
  &-wrapper {
  }

  &-info {
    text-align: center;
  }

  // Properties and condition has the same style
  &-properties,
  &-condition {
    text-align: center;
    // background: red;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem 0;

    &__grid {
      display: flex;
      padding: 1rem;
      // background: yellow;
      justify-content: space-evenly;

      &-box {
        flex: 0 0 16%;
        display: flex;
        // background: pink;
        // height: 80px;
        align-items: center;

        &--icon {
          flex: 0 0 30%;
          // background: green;

          &-image {
            width: 45px;
          }
        }

        &--info {
          flex: 0 0 70%;
          padding-left: 8px;
          // background: red;
          text-align: left;
        }
      }
    }
  }

  // Flex for review(left) and the right container
  &-flex {
    display: flex;

    &-left {
      flex: 0 0 65%;
    }

    &-right {
      flex: 0 0 35%;
    }
  }

  &-text {
    &-name {
      font-size: 4rem;
      font-weight: 800;
    }

    &-address {
      font-size: 1.7rem;
    }

    &-subheader {
      font-size: 1.8rem;
      font-weight: 600;
    }

    &-properties,
    &-condition {
      &--top {
        font-size: 1.4rem;
        font-weight: 700;
      }

      &--bottom {
        font-size: 1.4rem;
        text-transform: capitalize;
      }
    }
  }

  // courtview-image
  &-image {
    padding: 1rem;

    &-main {
      width: 60rem;
      margin: 0 auto;

      & img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  // courtview-reviews
  &-reviews {
    &-header {
      padding: 3rem 0 2rem 0;
      &-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    // Just the whole container/wrapper of the all the review box
    &-container {
      padding: 1rem 0;
    }

    // Container box of a review
    &-box {
      padding: 1.5rem 0;
      border-bottom: 1px solid $color-border-3;

      &-flex {
        display: flex;

        &-left {
          flex: 0 0 35%;

          &-flex {
            display: flex;
          }
        }

        &-right {
          flex: 0 0 65%;
        }
      }
    }

    &__image {
      flex: 0 0 25%;

      &__img {
        width: 85%;
        border-radius: 5px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // height: 97%;
      }
    }

    &__info {
      flex: 0 0 75%;
    }

    &__rating {
      display: flex;
      align-items: center;

      &__stars {
      }

      &__date {
        margin-left: 0.7rem;
      }
    }

    &-text {
      &-name {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      &-location {
        font-size: 1.2rem;
        text-transform: capitalize;
      }

      &-content {
        font-size: 1.4rem;
      }

      &-date {
        font-size: 1.4rem;
      }
    }
  }
}
