// The wrapper of the page
.edit-profile-wrapper {
  width: 100vw;
  min-height: 97vh;
  background: $color-auth-bg;
  text-align: center;
  position: relative;

  // Change the padding nad the bottom-part height when it's mobile size
  padding: 10rem 0 400px 0;
}

.edit-profile-bottom-part {
  height: 400px;
  width: 100vw;
  background-image: url(../../img/bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
