.hero-image-wrapper {
  min-height: 100vh;
}

.hero-image {
  &-container {
    width: 100vw;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../img/heroimage.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__text {
      & h2 {
        color: $color-white;
        font-size: 4rem;
      }
    }

    &__search {
      margin: 0 auto;
      width: 500px;
      background: yellow;
    }
  }
}
