.landing-page-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: $color-white;
}

// FOR THE HERO IMAGE HEADER
.hero-image {
  width: 100vw;
  height: 620px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../img/heroimage.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__text {
      text-align: center;
      & h2 {
        color: $color-white;
        font-size: 4rem;
        text-shadow: 1px 1px 5px rgba($color-black, 0.3);
      }
    }

    &__search {
      margin: 0 auto;
      width: 500px;
      background: yellow;
    }
  }
}

// FOR FEATURED COURTS
.featured-courts {
  &-wrapper {
    background-color: $color-main-background-darker;
    padding: 3rem 0;
  }

  &-header {
    text-align: center;
  }
}

// FOR RECENT POSTS
.recent-posts {
  &-wrapper {
    padding: 3rem 0;
  }

  &-header {
    text-align: center;
  }

  &-grid {
    display: flex;
    justify-content: space-between;

    &-cols {
      flex: 0 0 33%;
      background: yellow;
      height: 20px;
    }
  }
}
