.profile-wrapper {
  padding: 5rem 0;
  background-color: #f4f8fb;
  min-height: 100vh;
}

.profile-info {
  height: 53rem;

  &__backdrop {
    height: 38rem;
    background-image: url(../../img/backdrop1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
  }

  &__container {
    display: flex;
    height: 15rem;
  }

  &-image-wrapper {
    margin-top: -6rem;
    padding: 0 2rem;
    width: 20%;

    &-img {
      width: 180px;
      height: 180px;
      border-radius: 50%; // so it's circle
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url(/img/profile2.png);

      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  }

  &-name {
    width: 50%;
    padding-top: 0.7rem;
    // background: aqua;
    font-family: 'Montserrat', sans-serif;
  }

  &-editbutton {
    // background: red;
    width: 35%;
  }
}

.text-name {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  text-transform: capitalize;
}

.text-location {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.text-position {
  font-size: 1.5rem;
  text-transform: capitalize;
}

// Flex container for friends/wall/favorite court
.profile-flex {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  // background: red;
}

.profile-friends {
  width: 28%;
  height: 45rem;
  // background: pink;
  border-radius: 10px;
  border: 1px solid $color-palette-3;
}

.profile-header {
  // background: yellow;
  border-bottom: 1px solid $color-palette-3;
  text-align: center;
  padding: 0.5rem 0;
}

// THIS IS FOR THE WALL ////////////////////////////////
.profile-wall {
  width: 40%;

  // The form
  &-form {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    padding-top: 0.5rem;

    & form {
      .form-textarea {
        width: 100%;
        height: 13rem;
        border: none;
        outline: none;
        resize: none;
        padding: 1.3rem 2rem;
      }
    }
  }

  // The post
  &-post {
    width: 100%;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);

    &-top {
      padding: 0 2rem;
    }
    // This is nothing, just a container for posts - maybe delete this later
    &-container {
      width: 100%;
    }

    &-header {
      display: flex;
      padding: 1rem 0 0.4rem 0;
      border-bottom: 1px solid $color-border;

      &__image {
        // flex: 20%;
        padding-right: 1rem;
        // background: yellow;

        &__img {
          height: 60px;
          width: 60px;
          border-radius: 30%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;

          border: 4px solid rgb(230, 226, 226);
        }
      }

      &__info {
        flex: 0 0 65%;
        padding-top: 14px; // Change this later, so the texts aligns center vertically
      }

      &__dropdown {
        flex: 0 0 15%;
        text-align: right;
        // background: yellow;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    &-content {
      padding: 1.3rem 0 2.5rem;
    }

    &-footer {
      border-top: 1px solid $color-border;
      display: flex;
      padding: 0.2rem 0;
      align-items: center;
      &__left {
        flex: 50%;
        text-align: left;
      }

      &__right {
        flex: 50%;
        text-align: right;
      }
    }
  }
}

// for the form to write a post
.form-group-flex {
  display: flex;
  padding: 0.5rem 1.2rem;
  border-top: 1px solid $color-border;

  &-left {
    flex: 60%;
    text-align: left;
  }

  &-right {
    flex: 40%;
    text-align: right;
  }
}

// THIS IS FOR FAVORITE COURT
.profile-favorite {
  width: 28%;
  height: 45rem;
  // background: aqua;
  border-radius: 10px;
  border: 1px solid $color-palette-3;
}

// TEXT FOR POST
.text-post {
  &-name {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-transform: capitalize;
  }

  &-location {
    font-size: 13px;
    color: rgb(167, 148, 148);
    text-transform: capitalize;
  }

  &-content {
    font-size: 13px;
    line-height: normal;
  }

  &-date {
    font-size: 12px;
    color: rgb(177, 166, 166);
  }
}

// For ICON in the posts color
.icon-heart-inactive {
  color: $color-inactive-button;
}

.icon-heart-active {
  color: red;
}

// For the comments in the wall post
.post-comment {
  border-top: 1px solid $color-border-2;

  &-container {
    padding: 1rem 2rem;
  }

  &-form {
    display: flex;

    &__image {
      flex: 0 0 12%;

      &__img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: 1px solid rgb(230, 226, 226);
      }
    }

    &__textarea {
      flex: 0 0 88%;
      position: relative;

      & form textarea {
        width: 100%;
        border-radius: 15px;
        // font-size: 16px;
        padding: 0.5rem 8rem 0.5rem 1rem;
        height: 40px;
        resize: none;
        overflow: hidden;
        transition: 0.2s ease-in;
        outline: none;

        &:focus {
          height: 80px;
        }
      }
    }

    &-button {
      position: absolute;
      bottom: 13px;
      right: 5px;
    }
  }

  &-box {
    display: flex;
    margin-top: 1rem;

    &__image {
      flex: 0 0 12%;
    }

    &__content {
      flex: 0 0 88%;
      border-radius: 15px;
      background-color: rgb(247, 241, 241);
      padding: 7px 10px;
    }
  }
}

.text-comment {
  &-name {
    color: rgb(12, 134, 182);
    font-size: 13px;
    font-weight: bold;
  }

  &-content {
    font-size: 13px;
    line-height: normal;
  }
}
