.writeareview {
  &-wrapper {
    background-color: $color-white;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

  &-main {
    width: 600px;
    margin-top: 3rem;
  }

  &-form {
    &-group {
      height: 100%;
      height: 400px;
      border: 1px solid $color-border-3;
      border-radius: 3px;
      padding: 1.8rem;
      margin-bottom: 2rem;

      &__rating {
        display: flex;

        &__stars {
          margin-right: 1rem;
          cursor: pointer;
        }

        &__text {
          font-size: 1.6rem;
        }
      }

      & textarea {
        width: 100%;
        height: 90%;
        padding: 1rem 0;
        outline: none;
        resize: none;
        border: none;
        font-size: 2.1rem;
      }
    }
  }

  &-text {
    &-name {
      font-size: 3.4rem;
    }
  }

  // ReventReview.js
  &-recentreviews {
    min-height: 100vh;
    // background: yellow;
    border-left: 1px solid $color-border-3;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.7s ease;

    @include respond(tab-portrait) {
      display: none;
    }

    &-show {
      width: 330px;
    }

    &-hide {
      width: 0;
      border: none;
    }

    &-content {
      padding: 0 1.5rem;
      width: 330px;
    }

    // Toggler for the recent reviews
    &-toggler {
      width: 20px;
      height: 45px;
      background: white;
      border-left: 1px solid $color-border-2;
      border-top: 1px solid $color-border-2;
      border-bottom: 1px solid $color-border-2;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      position: absolute;
      top: 20px;
      left: -20px;
    }

    // Container for the recent reviews
    &-grid {
      &-box {
        margin-bottom: 2rem;

        &__header {
          display: flex;
          height: 40px;
          align-items: top;

          &__image {
            flex: 0 0 15%;
            // padding: 0.5rem;

            &__img {
              width: 85%;
              border-radius: 5px;
              border: 1px solid black;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              height: 97%;
            }
          }

          &__info {
            flex: 0 0 85%;
          }
        }

        &__rating {
          display: flex;

          &__stars {
          }

          &__date {
            padding-left: 1rem;
            font-size: 1.3rem;
            color: rgb(194, 159, 159);
          }
        }

        &__text {
          margin-top: 0.5rem;
        }
      }
    }

    // Text for current reviews
    &-text {
      &-name {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
        line-height: 1;
      }

      &-place {
        font-size: 1.4rem;
        text-transform: capitalize;
        line-height: 1.4;
      }

      &-review {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }
}
