body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
}

// For links inside <Link>
.link {
  text-decoration: none;
}
