.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;

  // CHECK HOW THIS WORK, MAYBE DELETE THIS LATER
  // @include respond(tab-portrait) {
  //   max-width: 875px;
  // }

  @include respond(tab-portrait) {
    padding: 0 2rem;
  }
}

.container-fluid {
  margin: 0 auto;
  padding: 5rem;
}

// Bottom Margins
.u-margin-bottom-sm {
  margin-bottom: 1rem;
}

.u-margin-bottom-md {
  margin-bottom: 3rem;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem;
}

// Top Margins
.u-margin-top-xs {
  margin-top: 0.5rem;
}

.u-margin-top-sm {
  margin-top: 1rem;
}

.u-margin-top-md {
  margin-top: 3rem;
}

.u-margin-top-lg {
  margin-top: 6rem;
}

.u-margin-right-xs {
  margin-right: 0.5rem;
}

.u-margin-right-sm {
  margin-right: 1rem;
}

.u-margin-right-md {
  margin-right: 3rem;
}

.u-margin-left-xs {
  margin-left: 0.5rem;
}

.u-margin-left-sm {
  margin-left: 1rem;
}

.u-margin-left-md {
  margin-left: 3rem;
}

// Flex display with space-between
.u-flex-spacebetween {
  display: flex;
  justify-content: space-between;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-pink {
  background-color: pink;
}

.bg-blue {
  background-color: blue;
}

// Capitalize text
.u-text-capitalize {
  text-transform: capitalize;
}

// Uppercase
.u-text-uppercase {
  text-transform: uppercase;
}

// Padding
.u-padding-left-sm {
  padding-left: 2rem;
}

.u-padding-right-sm {
  padding-right: 2rem;
}

// Text-alingn
.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}
