// Font default size is 16px
$default-font-size: 1.6rem;

// Basic Colors
$color-white: #ffffff;
$color-black: #000000;

// Color Palette
$color-palette-1: #011627;
$color-palette-2: #fdfffc;
$color-palette-3: #2ec4b6;
$color-palette-4: #e71d36;
$color-palette-5: #ff9f1c;

// Color for Register/Login page
$color-auth-bg: #013244;
$color-auth-input: #1b4957;
$color-auth-input-light: #317083;

$color-auth-button: #02df79;

// button color
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

$color-primary-2: #0069d9;
$color-secondary-2: #5a6268;
$color-success-2: #218838;
$color-danger-2: #c82333;
$color-warning-2: #e0a800;
$color-info-2: #138496;
$color-light-2: #e2e6ea;
$color-dark-2: #23272b;

// Border in posts
$color-border: rgb(241, 233, 233);
$color-border-2: rgb(218, 208, 208);

$color-inactive-button: rgb(226, 197, 197);

// MAIN COLOR
$color-main-background: #f7f5f7;
$color-main-background-darker: #f5f5f5;
