.btn {
  cursor: pointer;
  transition: all 0.3s;

  &-1 {
    width: 100%;
    border-radius: 13px;
    height: 45px;
    border: none;
    color: white;
    font-size: 18px;

    &--register {
      background: $color-success;

      &:hover {
        background: $color-success-2;
      }
    }

    &--login {
      background: $color-primary;

      &:hover {
        background: $color-primary-2;
      }
    }

    &--saveprofile {
      background: $color-info;

      &:hover {
        background: $color-info-2;
      }
    }
  }
}
