.auth-form {
  &-container {
    width: 450px;
    margin: 0 auto;
    // background: red;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &-header {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &-subheader {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  &-group {
    margin: 2.5rem 0;

    & input[type='text'],
    & input[type='password'] {
      width: 100%;
      height: 50px;
      background: $color-auth-input;
      font-family: 'Montserrat';
      color: $color-white;
      border-radius: 13px;
      border: none;
      padding: 0 2rem;
      font-size: 14px;
      outline: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }
  }
}

.edit-profile-form {
  &-container {
    width: 500px;

    margin: 0 auto;
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1;
  }

  &-header {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &-subheader {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  &-group {
    margin: 2.5rem 0;

    & input[type='text'] {
      width: 100%;
      height: 50px;
      background: $color-auth-input;
      font-family: 'Montserrat';
      color: $color-white;
      border-radius: 13px;
      border: none;
      padding: 0 2rem;
      font-size: 14px;
      outline: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }

    & select {
      height: 50px;
      width: 100%;
      padding: 0 0 0 2rem;
      border-radius: 13px;
      background: $color-auth-input;
      color: rgb(180, 170, 170);
      border: none;
      font-size: 14px;

      &:focus {
        // border-color: #aaa;
        border: 2px solid rgba(59, 153, 252, 0.7);
        color: white;
        outline: none;
      }

      & option {
        background: $color-auth-input-light;
      }
    }
  }

  &-control-1 {
    width: 40%;
  }

  &-control-2 {
    width: 55%;
  }

  &-control-3 {
    width: 30%;
  }
}

.form-header-edit {
  font-size: 18px;
  color: rgb(180, 170, 170);
  margin-bottom: 2rem;
}

.radio-box {
  width: 20%;
  display: inline-block;
  // float: left;
  margin-bottom: 5rem;

  & label {
    margin: 0 auto;
    display: block;
    height: 70px;
    width: 70px;

    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.header-form {
  &-group {
    position: relative;

    & label {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      font-size: 16px;
      margin: 6px 0 0 12px;
      color: rgb(180, 170, 170);
    }

    & input[type='text'] {
      width: 390px;
      height: 40px;
      font-family: 'Montserrat';

      padding: 0 2rem 0 4rem;
      font-size: 13px;
      outline: none;
      margin-right: 10px;
      position: absolute;
      left: 0;
      box-shadow: 2px 5px 10px rgba($color-black, 0.3);
      border: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }

    & input[type='submit'] {
      position: absolute;
      right: 0;
      box-shadow: 2px 5px 10px rgba($color-black, 0.3);
    }
  }
}
