// LOGIN and REGISTER FORM
.auth-form {
  &-container {
    width: 450px;
    margin: 0 auto;
    // background: red;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &-header {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &-subheader {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  &-group {
    margin: 2.5rem 0;

    & input[type='text'],
    & input[type='password'] {
      width: 100%;
      height: 50px;
      background: $color-auth-input;
      font-family: 'Montserrat';
      color: $color-white;
      border-radius: 13px;
      border: none;
      padding: 0 2rem;
      font-size: 14px;
      outline: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }
  }
}

// EDIT PROFILE FORM
.edit-profile-form {
  &-container {
    width: 500px;

    margin: 0 auto;
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1;
  }

  &-header {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &-subheader {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  &-group {
    margin: 2.5rem 0;

    & input[type='text'] {
      width: 100%;
      height: 50px;
      background: $color-auth-input;
      font-family: 'Montserrat';
      color: $color-white;
      border-radius: 13px;
      border: none;
      padding: 0 2rem;
      font-size: 14px;
      outline: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }

    & select {
      height: 50px;
      width: 100%;
      padding: 0 0 0 2rem;
      border-radius: 13px;
      background: $color-auth-input;
      color: rgb(180, 170, 170);
      border: none;
      font-size: 14px;

      &:focus {
        // border-color: #aaa;
        border: 2px solid rgba(59, 153, 252, 0.7);
        color: white;
        outline: none;
      }

      & option {
        background: $color-auth-input-light;
      }
    }
  }

  &-control-1 {
    width: 40%;
  }

  &-control-2 {
    width: 55%;
  }

  &-control-3 {
    width: 30%;
  }
}

// STILL FOR EDIT PROFILE FORM
.form-header-edit {
  font-size: 18px;
  color: rgb(180, 170, 170);
  margin-bottom: 2rem;
}

// STILL FOR EDIT PROFILE FORM
.radio-box {
  width: 20%;
  display: inline-block;
  // float: left;
  margin-bottom: 5rem;

  & label {
    margin: 0 auto;
    display: block;
    height: 70px;
    width: 70px;

    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

// STILL FOR EDIT PROFILE FORM
.header-form {
  &-group {
    position: relative;

    & label {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      font-size: 16px;
      margin: 6px 0 0 12px;
      color: rgb(180, 170, 170);
    }

    & input[type='text'] {
      width: 390px;
      height: 40px;
      font-family: 'Montserrat';

      padding: 0 2rem 0 4rem;
      font-size: 13px;
      outline: none;
      margin-right: 10px;
      position: absolute;
      left: 0;
      box-shadow: 2px 5px 10px rgba($color-black, 0.3);
      border: none;

      &::placeholder {
        // color: $color-white;
        color: rgb(180, 170, 170);
      }
    }

    & input[type='submit'] {
      position: absolute;
      right: 0;
      box-shadow: 2px 5px 10px rgba($color-black, 0.3);
    }
  }
}

// ADD COURT FORM
.add-court {
  &-wrapper {
  }

  &-form {
    &__flex {
      display: flex;

      &-box {
        flex: 0 0 33.3%;
        border-right: 1px solid rgba($color-black, 0.1);
        padding: 2rem;

        // Takes out the border for the last child
        &:last-child {
          border-right: none;
          position: relative;
        }
      }
    }

    &-group {
      margin-bottom: 10px;

      & label {
        display: block;
        font-size: 13px;
        color: rgb(49, 45, 45);
      }

      & input[type='text'] {
        width: 100%;
        outline: none;
        font-size: 13px;
        border: 1px solid rgba($color-black, 0.1);
        padding: 5px;
      }

      & textarea {
        width: 100%;
        resize: none;
        outline: none;
        font-size: 13px;
        border: 1px solid rgba($color-black, 0.1);
        padding: 5px;
      }

      & input[type='submit'] {
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 2rem 2rem 0;
      }

      // width 46% form-group next to each other
      &-50 {
        width: 46%;
        margin-right: 1rem; //maybe change this later
        display: inline-block;
      }

      // width 30% form-group next to each other
      &-30 {
        width: 30%;
        margin-right: 1rem; //maybe change this later
        display: inline-block;
      }
    }

    // For the radio box inside the add-court-form
    &-radio-box {
      display: flex;

      &-options {
        flex: 0 0 20%;

        & input[type='radio'] {
          vertical-align: middle;
        }
      }

      &-label {
        font-size: 13px;
      }
    }
  }
}

// SHOWS and HIDE THE ADD-COURT FORM
.hideform {
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  border: 1px solid rgba($color-black, 0.1);
}

.showform {
  height: auto;
  opacity: 1;
  transition: all 0.5s ease;
  border: 1px solid rgba($color-black, 0.1);
  margin-bottom: 2rem;
}
