.auth-form {
  &-container {
    width: 470px;
    margin: 0 auto;
    // background: red;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &-header {
    color: $color-white;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &-subheader {
    color: $color-white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  &-group {
    margin: 2.5rem 0;

    & input[type='text'],
    & input[type='password'] {
      width: 90%;
      height: 50px;
      background: $color-auth-input;
      font-family: 'Montserrat';
      color: $color-white;
      border-radius: 13px;
      border: none;
      padding: 0 2rem;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $color-white;
      }
    }
  }
}
