@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/forms';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/nav';

@import 'pages/auth';
@import 'pages/editprofile';
@import 'pages/home';
@import 'pages/profile';
@import 'pages/playerslist';
